[user]
	name = Masafumi Yokoyama
	email = yokoyama@clear-code.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	l = log -p --decorate --stat
	br = branch
	st = status
	di = diff
	ci = commit
	gv = "!f(){ git grep -n $* | peco | awk -F: '{print $1}' | xargs -I% bash -c 'vim "%" <&- <&2'; };f"
[push]
	default = simple
[diff]
        renames = copies
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
