[user]
	name = Masafumi Yokoyama
	email = yokoyama@clear-code.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	l = log -p --decorate --stat
	br = branch
	st = status
	di = diff
	ci = commit
[push]
	default = simple
